#boostify_metabox_settings_demo_preview {
	.form-meta-footer {
		margin-top: 15px;
		label {
			display: block;
			margin-bottom: 10px;
			vertical-align: baseline;
			font-weight: 600;
		}

		.input-wrapper {
			margin-bottom: 30px;
		}

		select {
			min-width: 180px;
		}

		input#demo_link,
		input#demo_number {
			max-width: 252px;
		}

		.parent-item {
			margin-bottom: 15px;
		}
	}
}

// For Settings Post Page

.hf-input-wrapper {
	margin-bottom: 15px;
	overflow: hidden;

	label {
		display: block;
		margin-bottom: 8px;
	}

	select {
		min-width: 180px;
		display: block;
	}
}

// For Page settings

.ht-dp-setting-page {
	background-color: #fff;
	padding: 25px;
	margin: 15px;

	.header {
		margin-bottom: 30px;
	}

	.form-setting {
		select {
			min-width: 200px
		}

		label {
			min-width: 120px;
			display: inline-block;
			text-align: left;
			margin: 15px 0;
		}
	}
}

.child-item {
	margin: 20px 0;
}
